
<section class="s-block s-block--fixed-banner wide-placeholder">
  <div class="container">
    <a href="{{ settings.url }}" class="banner banner--fixed overflow-hidden" aria-label="Banner {{ settings.image.alt }}">
      <img width="1200" height="300" src="{{ settings.image.url }}" alt="{{ settings.image.alt|trim ? settings.image.alt : 'rasel banner' }}" />
    </a>
  </div>
</section>
